<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!-- Author: Blazej Pietrzak [blazej.pietrzak@man.poznan.pl] -->

<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
  
  <bean id="cm" class="eu.novi.sfa.planetlab.ComponentManagerImpl" />
  <bean id="am" class="eu.novi.sfa.planetlab.AggregateManagerImpl" />
  <bean id="sm" class="eu.novi.sfa.planetlab.SliceManagerImpl" />
   
  <service ref="cm" interface="eu.novi.sfa.ComponentManager">
    <service-properties>
      <!-- All service interfaces are available for Distributed OSGi -->
      <entry key="service.exported.interfaces" value="*" />
    
      <entry key="testbed" value="PlanetLab" />
    </service-properties>
  </service>
  
  <service ref="am" interface="eu.novi.sfa.AggregateManager">
    <service-properties>
      <!-- All service interfaces are available for Distributed OSGi -->
      <entry key="service.exported.interfaces" value="*" />
    
      <entry key="testbed" value="PlanetLab" />
    </service-properties>
  </service>
  
  <service ref="sm" interface="eu.novi.sfa.SliceManager">
    <service-properties>
      <!-- All service interfaces are available for Distributed OSGi -->
      <entry key="service.exported.interfaces" value="*" />
    
      <entry key="testbed" value="PlanetLab" />
    </service-properties>
  </service>

</blueprint>